node_modules/
coverage/
coverage-all/
coverage-experiment/
*.tgz
*.tsbuildinfo
.vite/
.dsh-workflows-build-/
src/**/*.js
src/**/*.js.map
!src/client/css-modules.d.ts
!src/client/conversation-augmentation.d.ts
!src/client/typert-remote.d.ts
!src/fs-native-extensions.d.ts
src/registry/types.d.ts
src/registry/types.d.ts.map
src/supervisor/types.d.ts
src/supervisor/types.d.ts.map
src/supervisor/storage/manifest-types.d.ts
src/supervisor/storage/manifest-types.d.ts.map
